
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Life is Good ;)</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <h3>IT'S OKAY. IT'S JUST THOUGHTS AND EMOTIONS.</h3>
  <h4>Tell me what's happening.</h4>
  
  <form method="POST" action="" name="checkin">
	 <p>What is Happening? <br>	<select name="type" required>
		<option value="">----------------</option>
		<option value="Panic Attack">Panic Attack</option>
		<option value="Extreme Depression">Extreme Depression</option>		
	</select></p>
	<p>Where are you? <input type="text" name="location" required></p>
	
	<p>Tell Andrei what is going on: <textarea name="comments" style="width=100%; height=400px;" required></textarea></p>
  </form>
  
  <h2><a href="/anna/checkin/">Hourly Check-In</a></h2>
  <h2><a href="/anna/incident/">Having Trouble? Tell Me About It Now</a></h2>
  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
